*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Cell Variables */
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.95);
  /* Color Variables */
  --primary-dark-color: #314755;
  --secondary-dark-color: black;
  --primary-light-color: #26a0da;
  --secondary-light-color: rgba(38, 161, 218, 0.557);
  --background-color: rgba(198, 198, 198, 0.2);
  --player-color: rgba(53, 160, 210, 0.2);
  --computer-color: rgba(184, 233, 255, 0.2);
  --color-of-o: var(--player-color);
}

body {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--primary-dark-color);
  background-color: var(--background-color);
}

/* Start Menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.gameTitle {
  opacity: 0;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  color: var(--primary-light-color);
  text-shadow: 2px 2px var(--primary-dark-color);
  justify-self: center;
}

.startBtn {
  transform: scale(0);
  padding: 1rem 1rem;
  text-align: center;
  width: 10em;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  color: black;
}
.startBtn {
  background-image: linear-gradient(
    to right,
    #64ceff 0%,
    #689dbb 50%,
    #0075bd 100%
  );
}

.startBtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  border: 2px solid var(--primary-dark-color);
  letter-spacing: 0.25rem;
  box-shadow: rgba(144, 206, 245, 0.2) 0px 0px 1px 25em;
}

/* Start Menu Animation */

@keyframes titleUp {
  from {
    height: 80vh;
  }
  to {
    height: 20vh;
  }
}

/* Pick whether to play opponent or computer */
.opponentOption {
  display: none;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
}

.opponentOptionText {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.6rem;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.choices {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.opponentChoiceBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  border: 2px solid black;
  height: 3em;
  width: 6em;
  word-wrap: normal;
  overflow: scroll;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.computerChoice {
  background-color: var(--computer-color);
}

.playerChoice {
  background-color: var(--player-color);
}

.opponentChoiceBtn p {
  display: none;
  overflow: hidden;
  margin-top: 10px;
  font-weight: normal;
}

.opponentChoiceBtn:hover {
  align-items: center;
  font-weight: bold;
  height: 8em;
  width: 7em;
  transition: linear 1s;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.opponentChoiceBtn:hover p {
  display: inline-block;
  font-size: 1.5rem;
}

.computerChoice:hover {
  background-color: var(--background-color);
  box-shadow: var(--computer-color) 0px 0px 1px 25em;
}

.playerChoice:hover {
  background-color: var(--background-color);
  box-shadow: var(--player-color) 0px 0px 1px 25em;
}
/* Choice animation */

@keyframes opponentChoice {
  from {
    height: 5em;
    width: 5em;
  }
  to {
    height: 15em;
    width: 15em;
  }
}

/* Main Game */
.title {
  text-align: center;
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  height: 95%;
  margin-top: 5%;
}

.playerScoreContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.startIndication {
  display: none;
  font-size: 2rem;
  font-weight: bolder;
}

.score {
  font-size: 3rem;
}

.playerSide.cell {
  border: none !important;
}

.playerDisplay {
  align-self: flex-start;
  font-size: 2.2rem;
  text-align: center;
}

.main.hide {
  display: none;
}

/* Game */
.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: flex-start;
  align-self: center;
}

.game-board.x .cell:not(.x):not(.o):hover:before,
.game-board.x .cell:not(.x):not(.o):hover:after,
.game-board.o .cell:not(.x):not(.o):hover:before {
  background-color: lightgrey !important;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  /* background-color: var(--secondary-light-color); */
  cursor: pointer;
  border: 1px solid var(--primary-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.game-board.x .cell:not(.x):not(.o):hover::before,
.game-board.x .cell:not(.x):not(.o):hover::after {
  position: absolute;
  content: "";
  width: calc(var(--mark-size) * 0.12);
  height: var(--mark-size);
  background-color: var(--primary-dark-color);
  border-radius: 40%;
}

.cell.x::before,
.game-board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.game-board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.game-board.o .cell:not(.x):not(.o):hover::after,
.game-board.o .cell:not(.x):not(.o):hover::before {
  position: absolute;
  content: "";
  border-radius: 50%;
}

.cell.o::before,
.game-board.o .cell:not(.x):not(.o):hover::before {
  width: calc(var(--mark-size) * 0.8);
  height: calc(var(--mark-size) * 0.8);
  background-color: var(--primary-light-color);
}

.cell.o::after,
.game-board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.6);
  height: calc(var(--mark-size) * 0.6);
  background-color: var(--color-of-o);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

/* Messages */
.end-of-game-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-light-color);
  font-size: 4rem;
}

.end-of-game-message button {
  font-size: 3rem;
  background-color: var(--primary-light-color);
  border: 1px solid var(--primary-dark-color);
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.end-of-game-message button:hover {
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  border-color: var(--primary-light-color);
}

.end-of-game-message.show {
  display: flex !important;
}

/* Change mode */
.changeMode {
  position: absolute;
  margin-top: 50vh;
}

.changeMode button {
  font-size: 1.5rem;
  background-color: var(--primary-light-color);
  border: 1px solid var(--primary-dark-color);
  padding: 0.25em 0.5em;
  cursor: pointer;
}

/* Footer */

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.fa-github {
  font-size: 1.5rem;
  color: var(--primary-light-color);
  transition: transform 0.3s ease-in-out;
  padding-left: 2px;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Media Queries */
